{%- capture all_variants_label_html -%}
  {%- liquid
    if settings.prod_new_show
      if settings.prod_new_method == 'date'
        assign now_s = 'now' | date: '%s' | plus: 0
        assign pub_s = product.created_at | date: '%s' | plus: 0
        assign diff_days = now_s | minus: pub_s | divided_by: 86400

        if diff_days < settings.prod_new_limit_int
          assign new_label_text = 'products.labels.new_in' | t
        endif
      elsif settings.prod_new_method == 'tag'
        if product.tags contains 'New'
          assign new_label_text = 'products.labels.new_in' | t
        endif
      else
        for collection in product.collections
          assign split_collection_handle = collection.handle | split: '-'
          if split_collection_handle contains 'new'
            assign new_label_text = 'products.labels.new_in' | t
            break
          endif
        endfor
      endif
    endif
  -%}
  {%- if new_label_text -%}
    <span class="product-label product-label--new-in">
      <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.22 43.06"><defs><style>.cls-1{fill:#fdfbf5;}.cls-2{fill:#8caa82;}.cls-3{fill:none;stroke:#8caa82;stroke-miterlimit:10;}</style></defs><g id="Layer_1-2"><polygon class="cls-1" points="32.33 37.61 25.79 41.38 22.01 34.85 14.66 36.89 12.77 29.38 4.6 28.79 6.55 20.38 0 13.19 9.27 10.24 11.78 1.99 19.15 5.56 24.54 0 29.89 5.45 36.43 1.68 40.21 8.21 47.56 6.17 49.45 13.69 57.62 14.27 55.66 22.68 62.22 29.87 52.94 32.82 50.44 41.07 43.07 37.5 37.68 43.06 32.33 37.61"/><polygon class="cls-3" points="57.14 28.51 50.67 30.57 48.69 37.07 42.47 34.05 37.66 39 32.82 34.06 26.83 37.51 23.36 31.53 16.7 33.38 15.01 26.7 8.11 26.2 9.65 19.58 5.07 14.55 11.55 12.49 13.53 5.99 19.75 9.01 24.55 4.06 29.4 9 35.39 5.55 38.85 11.53 45.52 9.68 47.2 16.36 54.11 16.86 52.57 23.48 57.14 28.51"/><g><path class="cls-2" d="M23.49,14.89l1.49,.4-2.31,8.61-1.49-.4-1.84-6.51-1.5,5.61-1.49-.4,2.31-8.61,1.49,.4,1.79,6.71,1.56-5.81Z"/><path class="cls-2" d="M25.95,24.78l2.31-8.61,5.77,1.55-.38,1.42-4.28-1.15-.57,2.12,4.15,1.11-.38,1.42-4.15-1.11-.6,2.25,4.28,1.15-.38,1.42-5.77-1.55Z"/><path class="cls-2" d="M45.8,20.86l1.49,.4-4.52,8.02-1.44-.39-.28-6.43-3.47,5.43-1.44-.39,.09-9.21,1.49,.4-.1,6.61,3.37-5.73,1.54,.41,.05,6.65,3.22-5.77Z"/></g></g></svg>
    </span>
  {%- endif -%}
{%- endcapture -%}

<span class="product-label-list">
  {%- for variant in product.variants -%}
    <script id="variant-label-{{ product.id }}-{{ variant.id }}" type="text/template">
      {%- capture label_html -%}
        {{- all_variants_label_html -}}

        {%- liquid
          assign sale_label_text = false
          if settings.prod_reduction_show and variant.compare_at_price > variant.price
            if settings.prod_reduction_type == 'percent'
              assign amount = 1.0 | times: variant.price | divided_by: variant.compare_at_price
              assign amount = 1.0 | minus: amount
              assign amount = amount | times: 100.0 | round
              assign sale_label_text = 'products.labels.percent_reduction' | t: amount: amount
            else
              assign amount = variant.compare_at_price | minus: variant.price | money
              assign sale_label_text = 'products.labels.value_reduction_html' | t: amount: amount
            endif
          endif
        -%}
        {%- if sale_label_text -%}
          <span class="product-label product-label--sale">
            <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 39.3"><defs><style>.cls-1{fill:#fdfbf5;}.cls-2{fill:#be3c46;}.cls-3{fill:none;stroke:#be3c46;stroke-miterlimit:10;}</style></defs><g id="Layer_1-2"><path class="cls-1" d="M36.72,39.3c-4.76,0-9.9-.95-14.86-2.76-7.04-2.56-13.11-6.59-17.09-11.35C.41,20.01-1.02,14.51,.72,9.72,2.94,3.63,9.88,0,19.29,0c4.76,0,9.9,.95,14.86,2.76,15.3,5.57,24.58,17.35,21.13,26.82-2.22,6.09-9.16,9.72-18.57,9.72Z"/><ellipse class="cls-3" cx="28" cy="19.65" rx="15.14" ry="26.2" transform="translate(-.04 39.25) rotate(-70)"/><g><path class="cls-2" d="M11.62,15.46l1.5,.15c-.36,1.18,.13,2.26,1.33,2.69,1.04,.38,1.86,.1,2.12-.6,.69-1.89-4.43-2.43-3.24-5.65,.49-1.34,1.94-1.82,3.62-1.2,1.84,.67,2.71,2.06,2.22,3.4l-1.47-.13c.24-.82-.25-1.58-1.26-1.95-.78-.28-1.48-.09-1.69,.48-.6,1.64,4.42,2.42,3.29,5.54-.58,1.6-2.2,2.13-4.16,1.41-1.93-.7-2.87-2.43-2.25-4.14Z"/><path class="cls-2" d="M25.09,23.49v-1.96s-3.43-1.25-3.43-1.25l-1.25,1.51-1.48-.54,6.15-7.25,1.45,.53,.05,9.51-1.48-.54Zm-2.46-4.37l2.47,.9v-3.87s-2.47,2.98-2.47,2.98Z"/><path class="cls-2" d="M28.7,24.8l3.05-8.38,1.45,.53-2.55,7,4.14,1.51-.5,1.38-5.59-2.04Z"/><path class="cls-2" d="M36.61,27.68l3.05-8.38,5.61,2.04-.5,1.38-4.17-1.52-.75,2.06,4.03,1.47-.5,1.38-4.03-1.47-.8,2.19,4.17,1.52-.5,1.38-5.62-2.04Z"/></g></g></svg>
          </span>
        {%- endif -%}
        {%- if product.tags contains 'Coming Soon' -%}
          <span class="product-label product-label--comming-soon">
            <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.86 39.71"><defs><style>.cls-1{fill:#fdfbf5;}.cls-2{fill:#82a0be;}.cls-3{fill:none;stroke:#82a0be;stroke-miterlimit:10;stroke-width:1.14px;}</style></defs><g id="Layer_1-2"><path class="cls-1" d="M7.21,39.71c-2.26,0-4.34-1.03-5.72-2.82S-.33,32.82,.25,30.63L7.03,5.34C7.87,2.2,10.73,0,13.99,0h53.66c2.26,0,4.34,1.03,5.72,2.82s1.83,4.07,1.24,6.25l-6.78,25.29c-.84,3.14-3.71,5.34-6.96,5.34H7.21Z"/><path class="cls-3" d="M60.87,36.87H7.21c-2.87,0-4.97-2.73-4.22-5.5L9.76,6.07c.51-1.91,2.24-3.24,4.22-3.24h53.66c2.87,0,4.97,2.73,4.22,5.5l-6.78,25.29c-.51,1.91-2.24,3.24-4.22,3.24Z"/><g><path class="cls-2" d="M15.95,13.88c.64-2.39,2.44-3.97,4.59-3.97,1.53,0,2.61,.8,2.62,2.32l-1.39,.39c-.07-.73-.25-1.43-1.57-1.43s-2.45,1.14-2.87,2.7c-.43,1.6,.05,2.75,1.41,2.75s2-.78,2.36-1.47l1.17,.39c-.78,1.49-2.24,2.35-3.87,2.35-2.15,0-3.1-1.59-2.45-4.01Z"/><path class="cls-2" d="M24.67,13.91c.66-2.48,2.21-4.02,4.43-4.02s2.93,1.54,2.27,4.02-2.21,4.02-4.42,4.02-2.94-1.54-2.28-4.02Zm5.32,0c.26-.97,.53-2.79-1.22-2.79s-2.46,1.82-2.72,2.79c-.26,.97-.52,2.79,1.23,2.79s2.45-1.82,2.71-2.79Z"/><path class="cls-2" d="M32.76,17.76l2.07-7.72h1.37l.81,5.02,3.51-5.02h1.36l-2.07,7.72h-1.38l1.21-4.5-2.73,3.79h-.86l-.71-3.79-1.21,4.5h-1.38Z"/><path class="cls-2" d="M42.58,17.76l2.07-7.72h1.38l-2.07,7.72h-1.38Z"/><path class="cls-2" d="M53.28,10.05h1.38l-2.07,7.72h-1.38l-1.76-5.03-1.35,5.03h-1.38l2.07-7.72h1.38l1.71,5.2,1.39-5.2Z"/><path class="cls-2" d="M56.07,13.89c.67-2.5,2.58-3.98,4.62-3.98,1.69,0,2.57,.8,2.6,2.3l-1.37,.39c-.08-.72-.42-1.42-1.57-1.42-1.47,0-2.45,1.04-2.89,2.71s-.04,2.73,1.44,2.73c1.28,0,2.08-.8,2.4-2.01h-3.3l.31-1.16h4.69l-1.15,4.3h-1.29l.26-.96c-.49,.66-1.37,1.09-2.35,1.09-2.09,0-3.06-1.5-2.39-4Z"/><path class="cls-2" d="M12.31,27.49l1.4-.32c-.23,1.07,.32,1.8,1.46,1.8,.99,0,1.72-.47,1.9-1.11,.47-1.74-4.3-.66-3.49-3.64,.33-1.23,1.62-2.05,3.23-2.05,1.76,0,2.68,.87,2.35,2.11l-1.37,.33c.15-.74-.37-1.21-1.33-1.21-.74,0-1.38,.36-1.52,.89-.4,1.51,4.29,.66,3.52,3.53-.4,1.48-1.84,2.38-3.71,2.38s-2.86-1.12-2.44-2.7Z"/><path class="cls-2" d="M20.85,26.17c.66-2.48,2.21-4.02,4.43-4.02s2.93,1.54,2.27,4.02-2.21,4.02-4.42,4.02-2.94-1.54-2.28-4.02Zm5.32,0c.26-.97,.53-2.79-1.22-2.79s-2.46,1.82-2.72,2.79c-.26,.97-.52,2.79,1.23,2.79s2.45-1.82,2.71-2.79Z"/><path class="cls-2" d="M29.74,26.17c.67-2.48,2.21-4.02,4.43-4.02s2.93,1.54,2.27,4.02c-.67,2.48-2.21,4.02-4.42,4.02s-2.94-1.54-2.28-4.02Zm5.32,0c.26-.97,.53-2.79-1.22-2.79s-2.46,1.82-2.72,2.79c-.26,.97-.52,2.79,1.23,2.79s2.45-1.82,2.71-2.79Z"/><path class="cls-2" d="M44.38,22.32h1.38l-2.07,7.72h-1.38l-1.76-5.03-1.35,5.03h-1.38l2.07-7.72h1.38l1.71,5.2,1.39-5.2Z"/><path class="cls-2" d="M46.88,29.36c.12-.43,.58-.79,1.05-.79s.72,.36,.61,.79c-.12,.45-.59,.81-1.04,.81-.47,0-.74-.35-.62-.81Z"/><path class="cls-2" d="M51.75,29.36c.12-.43,.58-.79,1.05-.79s.72,.36,.61,.79c-.12,.45-.59,.81-1.04,.81-.47,0-.74-.35-.62-.81Z"/><path class="cls-2" d="M56.61,29.36c.12-.43,.58-.79,1.05-.79s.72,.36,.61,.79c-.12,.45-.59,.81-1.04,.81s-.74-.35-.62-.81Z"/></g></g></svg>
          </span>
        {%- endif -%}

        {%- if product.tags contains 'Best Seller' -%}
          <span class="product-label product-label--best-seller">
            <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.69 39.68"><defs><style>.cls-1{fill:#fdfbf5;}.cls-2{fill:#82a0be;}.cls-3{fill:none;stroke:#82a0be;stroke-miterlimit:10;stroke-width:1.14px;}</style></defs><g id="Layer_1-2"><path class="cls-1" d="M8.07,39.68l-.84-.94C2.57,33.54,0,26.83,0,19.84S2.57,6.15,7.22,.94l.84-.94H63.62l.85,.94c4.66,5.2,7.22,11.92,7.22,18.9s-2.57,13.7-7.22,18.9l-.85,.94H8.07Z"/><path class="cls-3" d="M68.86,19.84c0-6.54-2.46-12.49-6.5-17.01H9.34C5.29,7.35,2.83,13.31,2.83,19.84s2.46,12.49,6.5,17.01H62.36c4.04-4.51,6.5-10.47,6.5-17.01Z"/><g><path class="cls-2" d="M27.48,15.13c0,2.28-2.41,2.28-3.26,2.28h-2.6v-7.99h2.51c.86,0,3.31,0,3.31,2.07,0,.66-.29,1.48-1.83,1.73,1.57,.32,1.87,1.21,1.87,1.91Zm-4.49-4.39v1.87h1.02c1.05,0,2.03-.01,2.03-.92s-1.12-.95-2.03-.95h-1.02Zm.84,5.37c1.62,0,2.26-.26,2.26-1.05,0-1.07-1.13-1.2-2.26-1.2h-.84v2.25h.84Z"/><path class="cls-2" d="M29.84,17.41v-7.99h5.35v1.31h-3.97v1.96h3.85v1.31h-3.85v2.09h3.97v1.31h-5.35Z"/><path class="cls-2" d="M37.32,14.77l1.31-.33c.06,1.11,.8,1.86,1.94,1.86,.99,0,1.6-.49,1.6-1.15,0-1.8-4.47-.69-4.46-3.77,0-1.28,1.07-2.12,2.68-2.12,1.76,0,2.91,.9,2.91,2.18l-1.28,.34c-.05-.76-.7-1.26-1.65-1.26-.74,0-1.28,.38-1.28,.92,0,1.56,4.46,.68,4.46,3.65,0,1.53-1.2,2.47-3.07,2.47s-3.16-1.17-3.16-2.8Z"/><path class="cls-2" d="M47.16,17.41v-6.68h-2.37v-1.31h6.14v1.31h-2.39v6.68h-1.38Z"/><path class="cls-2" d="M13.51,27.48l1.31-.33c.06,1.11,.8,1.86,1.94,1.86,.99,0,1.6-.49,1.6-1.15,0-1.8-4.47-.69-4.46-3.77,0-1.28,1.07-2.12,2.68-2.12,1.76,0,2.91,.9,2.91,2.18l-1.28,.34c-.05-.76-.7-1.26-1.65-1.26-.74,0-1.28,.38-1.28,.92,0,1.56,4.46,.68,4.46,3.65,0,1.53-1.2,2.47-3.07,2.47s-3.16-1.17-3.16-2.8Z"/><path class="cls-2" d="M22.04,30.11v-7.99h5.35v1.31h-3.97v1.96h3.85v1.31h-3.85v2.09h3.97v1.31h-5.35Z"/><path class="cls-2" d="M29.85,30.11v-7.99h1.38v6.68h3.95v1.31h-5.33Z"/><path class="cls-2" d="M37.11,30.11v-7.99h1.38v6.68h3.95v1.31h-5.33Z"/><path class="cls-2" d="M44.37,30.11v-7.99h5.35v1.31h-3.97v1.96h3.85v1.31h-3.85v2.09h3.97v1.31h-5.35Z"/><path class="cls-2" d="M58.01,30.11h-1.53l-1.55-3.26h-1.37v3.26h-1.38v-7.99h2.81c1.94,0,3.01,.61,3.01,2.32,0,1.28-.56,1.96-1.6,2.25l1.61,3.42Zm-4.45-6.7v2.15h1.37c1.18,0,1.71-.3,1.71-1.07s-.57-1.07-1.71-1.07h-1.37Z"/></g></g></svg>
          </span>
        {%- endif -%}

        {%- if product.tags contains 'G & W Pick' -%}
          <span class="product-label product-label--gw-pick">
            <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.6 39.69"><defs><style>.cls-1{fill:#fdfbf5;}.cls-2{fill:#8caa82;}.cls-3{fill:none;stroke:#8caa82;stroke-miterlimit:10;stroke-width:1px;}</style></defs><g id="Layer_1-2"><path class="cls-1" d="M73.61,39.69c-1.72,0-3.4-.6-4.73-1.7-6.49-5.32-14.7-8.26-23.1-8.26s-16.59,2.92-23.07,8.23c-1.33,1.09-3.01,1.69-4.73,1.69-1.97,0-3.82-.77-5.21-2.16L2.17,26.89C.72,25.44-.07,23.44,0,21.39c.08-2.05,1.01-3.99,2.56-5.33C14.57,5.7,29.92,0,45.78,0s31.24,5.71,43.25,16.09c1.55,1.34,2.48,3.29,2.56,5.33,.07,2.05-.71,4.05-2.16,5.5l-10.61,10.61c-1.39,1.39-3.24,2.16-5.21,2.16h0Z"/><path class="cls-3" d="M45.78,2.83c-15.81,0-30.26,5.79-41.36,15.37-2.01,1.73-2.13,4.81-.25,6.68l10.61,10.61c1.67,1.67,4.31,1.77,6.13,.27,6.77-5.54,15.43-8.87,24.87-8.87s18.12,3.34,24.9,8.9c1.82,1.5,4.47,1.4,6.14-.27l10.61-10.61c1.88-1.88,1.76-4.95-.25-6.68C76.07,8.64,61.61,2.83,45.78,2.83Z"/><g><path class="cls-2" d="M16.13,24.14c-1.36-2.22-.86-4.32,.88-5.39,1.45-.89,2.82-.75,4.01,.35l-.88,1.01c-.62-.49-1.46-.84-2.44-.24-1.26,.77-1.29,2.06-.38,3.54,.91,1.48,2.08,2.06,3.34,1.29,1.09-.67,1.16-1.69,.5-2.75l-2.82,1.73-.63-1.03,4.02-2.46,2.33,3.81-1.1,.68-.52-.85c.1,.75-.33,1.53-1.17,2.04-1.79,1.1-3.77,.48-5.13-1.73Z"/><path class="cls-2" d="M32.47,19.85l-.51,1.12-1.19-.53c-.42,.77-1.14,1.38-2.13,1.75-1.58,.59-2.89,.11-3.37-1.18-.44-1.17,.05-2.03,.71-2.72-.75-.38-1.28-.87-1.45-1.34-.39-1.05,.15-2.13,1.57-2.66,1.36-.51,2.53-.06,2.96,1.08,.38,1.03-.33,1.82-1.1,2.56l1.96,.84c.04-.47-.05-.99-.25-1.55l1.26-.25c.27,.83,.35,1.62,.23,2.33l1.31,.56Zm-5.57-2.41c.59-.52,1.06-.98,.9-1.47-.18-.55-.7-.76-1.25-.55-.59,.22-.86,.67-.71,1.09,.11,.3,.5,.62,1.05,.93Zm2.66,2.47l-2.53-1.1c-.45,.5-.74,1.01-.52,1.6,.24,.64,.94,.86,1.72,.57,.58-.22,1.04-.58,1.33-1.07Z"/><path class="cls-2" d="M41.96,10.81l1.37-.19-.95,8.22-1.33,.18-2.48-5.23-.98,5.71-1.33,.18-3.14-7.66,1.37-.19,2.23,5.51,.79-5.93,1.42-.19,2.36,5.49,.66-5.91Z"/><path class="cls-2" d="M49.68,18.92l1.1-7.95,2.79,.39c1.93,.27,2.92,1.02,2.68,2.72-.25,1.77-1.4,2.25-3.33,1.98l-1.42-.2-.45,3.25-1.37-.19Zm2-4.34l1.36,.19c1.17,.16,1.74-.06,1.85-.83,.11-.78-.42-1.15-1.56-1.3l-1.36-.19-.3,2.14Z"/><path class="cls-2" d="M57.09,20.2l2.02-7.77,1.34,.35-2.02,7.76-1.34-.35Z"/><path class="cls-2" d="M62.05,17.33c.94-2.3,2.84-3.3,4.83-2.49,1.42,.58,2.32,1.84,2.11,3.46l-1.35-.12c.04-.8-.03-1.62-1.26-2.12-1.26-.51-2.44,.28-3.05,1.79-.62,1.54-.34,2.94,.92,3.45,1.23,.5,1.97-.08,2.4-.67l1.04,.85c-.93,1.29-2.42,1.65-3.93,1.04-2-.81-2.66-2.86-1.71-5.2Z"/><path class="cls-2" d="M72.2,26.86l-.16-4.39-.93,.31-1.52,2.45-1.18-.73,4.23-6.82,1.18,.73-1.77,2.85,4.16-1.37,1.37,.85-4.19,1.38,.24,5.61-1.42-.88Z"/></g></g></svg>
          </span>
        {%- endif -%}

        {%- if product.tags contains '30-OFF' -%}
          <span class="product-label product-label--30-off">
            <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_2_00000089545577209767230690000001943858339824486036_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 62.2 43.1" style="enable-background:new 0 0 62.2 43.1;" xml:space="preserve"><style type="text/css">.st0{fill:#BE3C46;}.st1{fill:#FDFBF5;}</style><g><g><polygon class="st0" points="32.3,37.6 25.8,41.4 22,34.8 14.7,36.9 12.8,29.4 4.6,28.8 6.6,20.4 0,13.2 9.3,10.2 11.8,2 19.1,5.6 24.5,0 29.9,5.4 36.4,1.7 40.2,8.2 47.6,6.2 49.5,13.7 57.6,14.3 55.7,22.7 62.2,29.9 52.9,32.8 50.4,41.1 43.1,37.5 37.7,43.1 "/></g><g><path class="st1" d="M37.7,39.7l-4.9-5l-6.1,3.5l-3.5-6.1L16.3,34l-1.7-6.8l-7.1-0.5l1.6-6.9l-4.9-5.4l7-2.2l2.1-6.8l6.4,3.1l4.9-5.1l4.9,5l6.1-3.5l3.5,6.1l6.8-1.9l1.7,6.8l7.1,0.5l-1.6,6.9l4.9,5.4l-7,2.2L49,37.8l-6.4-3.1L37.7,39.7z M32.9,33.4l4.8,4.9l4.7-4.8l6,2.9l1.9-6.2l6-1.9L52,23.6l1.5-6.3l-6.7-0.5l-1.6-6.5l-6.5,1.8l-3.4-5.9l-5.9,3.4l-4.8-4.9l-4.7,4.8l-6-2.9L12,12.9l-6,1.9l4.2,4.6l-1.5,6.3l6.7,0.5l1.7,6.5l6.5-1.8l3.4,5.9L32.9,33.4z"/></g><g><path class="st1" d="M11.7,18.4l1.1-0.2c-0.1,0.6,0.4,1.2,1.2,1.4c0.7,0.2,1.4,0,1.5-0.6c0.2-0.6-0.3-1.2-1.5-1.5l0.3-1c1.3,0.3,1.7,0.1,1.9-0.4c0.1-0.5-0.3-0.9-0.9-1c-0.7-0.2-1.3,0-1.5,0.6l-0.9-0.7c0.5-1,1.5-1.3,2.7-1c1.4,0.4,2.1,1.3,1.8,2.3c-0.2,0.6-0.5,1.1-1.4,1.2c0.7,0.4,1,1.1,0.8,1.9c-0.3,1.3-1.7,1.7-2.9,1.4C12.5,20.4,11.6,19.5,11.7,18.4z"/><path class="st1" d="M17.9,18.3c0.6-2.1,1.8-3.2,3.7-2.7c1.9,0.5,2.4,2.1,1.8,4.2c-0.6,2.1-1.8,3.2-3.7,2.7C17.9,21.9,17.4,20.4,17.9,18.3z M22.3,19.4c0.2-0.8,0.5-2.4-1-2.8c-1.4-0.4-2,1.1-2.3,1.9c-0.2,0.8-0.5,2.4,1,2.8C21.5,21.8,22.1,20.2,22.3,19.4z"/><path class="st1" d="M23.7,23.3l6.8-5.2l0.7,0.2l-6.8,5.2L23.7,23.3z M25.1,18.1c0.2-0.8,0.8-1.3,1.6-1.1c0.8,0.2,1.1,1,0.8,1.7c-0.2,0.8-0.8,1.3-1.6,1.1C25.2,19.6,24.9,18.8,25.1,18.1z M26.8,18.5c0.1-0.4,0-0.6-0.3-0.7s-0.5,0.1-0.6,0.5c-0.1,0.4,0,0.7,0.3,0.7C26.5,19.1,26.7,18.9,26.8,18.5z M27.3,22.9c0.2-0.8,0.8-1.3,1.6-1.1c0.8,0.2,1.1,1,0.8,1.7c-0.2,0.8-0.8,1.3-1.6,1.1C27.3,24.4,27.1,23.7,27.3,22.9z M28.9,23.4c0.1-0.4,0-0.6-0.3-0.7c-0.3-0.1-0.5,0.1-0.6,0.5c-0.1,0.4,0,0.6,0.3,0.7C28.6,23.9,28.8,23.7,28.9,23.4z"/><path class="st1" d="M33.3,22.4c0.6-2.1,1.9-3.2,3.7-2.7c1.8,0.5,2.4,2.1,1.8,4.2c-0.6,2.1-1.9,3.2-3.7,2.7C33.3,26.1,32.8,24.5,33.3,22.4z M37.7,23.6c0.2-0.8,0.5-2.4-1-2.8c-1.4-0.4-2,1.1-2.3,1.9c-0.2,0.8-0.5,2.4,1,2.8C36.9,25.9,37.5,24.4,37.7,23.6z"/><path class="st1" d="M39,27.5l1.8-6.6l4.4,1.2l-0.3,1.1l-3.3-0.9l-0.4,1.6l3.2,0.9L44,25.8L40.9,25l-0.8,2.8L39,27.5z"/><path class="st1" d="M44.4,28.9l1.8-6.6l4.4,1.2l-0.3,1.1L47,23.7l-0.4,1.6l3.2,0.9l-0.3,1.1l-3.2-0.9l-0.8,2.8L44.4,28.9z"/></g></g></svg>
          </span>
        {%- endif -%}
      {%- endcapture -%}

      {%- if label_html != blank -%}
        <div class="product-label-container">
          {{- label_html -}}
        </div>
      {%- endif -%}
    </script>

    {%- if current_variant == false -%}
      {%- if all_variants_label_html != blank -%}
        <script id="variant-label-{{ product.id }}-none" type="text/template">
          <div class="product-label-container">
            {{- all_variants_label_html -}}
          </div>
        </script>
        <div class="product-label-container">
          {{- all_variants_label_html -}}
        </div>
      {%- endif -%}
    {%- elsif variant.id == current_variant.id and label_html -%}
      <div class="product-label-container">
        {{- label_html -}}
      </div>
    {%- endif -%}
  {%- endfor -%}
</span>
